# для папки errors
Options -Indexes

# кодировка сайта
AddDefaultCharset UTF-8

# запрос на скачивание документов
AddType application/octet-stream .pdf

# Отсутсвует страница
ErrorDocument 404 https://xn--90acgda4cbjegs2i.xn--p1ai/404.html

# перенаправление http и www
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SERVER_PORT} !^443$
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# перенаправление с киррилицы на нормальный

# RewriteCond %{HTTP_HOST} ^xn-...\.xn--p1ai$ [NC]
# RewriteRule ^(.*)$ http://robotsforwards.ru/$1 [R=301,L]
