@import "../utils/constants";

#event,
#form,
#gallery,
#games,
#header,
#organizer,
#schedule,
#speakers {
  border: 1px solid transparent;

  h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }
}

.section {
  &-tabs {
    .tab-content {
      ul {
        li {
          line-height: 30px;

          i {
            font-size: 0.8em;
            color: $color-link;
          }
        }
      }
    }
  }
}

// .event-list__text{
//     font-size: 1.0rem;
// }

// Секция о команде

.item {
  & > div {
    position: relative;

    &:hover {
      .front {
        opacity: 0.1;
      }

      .back {
        opacity: 1;
      }

      h3 {
        color: $color-link;
      }
    }
  }
}

.front {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 50%;
  /*для IE*/
  margin-left: -70px;
  /*для IE*/
  cursor: pointer;
}

.back {
  width: 140px;
  height: 140px;
  background-color: $color-link;
  display: inline-block;
  border-radius: 50%;
  opacity: 0;

  i {
    line-height: 140px;
    color: $color-text-add;
  }
}
// Секция календарь событий

.link {
  text-transform: uppercase;
}

.time {
  background-color: $color-link;
  color: $color-text-add;
  font-weight: 500;
  border-radius: 2px;
}

.collapse {
  &-link {
    color: $color-text;
    font-weight: 500;

    &:hover {
      color: $color-text;
    }
  }

  &-state {
    color: $color-link;
  }
}
// Секция галерея - видео и фото

.row-item {
  margin-top: 32px;

  h2 {
    margin-top: 10px;
  }
}

.carousel-indicators {
  left: 0;
  bottom: 10px;
  width: auto;

  [data-bs-target] {
    border: 1px solid $color-link;
    background: transparent;
    height: 12px;
    width: 12px;
    border-radius: 50%;

    &.active {
      background-color: $color-link;
      opacity: 0.5;
      height: 14px;
      width: 14px;
    }
  }
}
// Секция о команде

.speakers {
  &-head {
    h2 {
      color: $color-text-light;
    }
  }

  h3 {
    color: $color-text-light;
    text-transform: uppercase;
    margin-top: 6px;
  }
}
// Секция логотипы спонсоров и организаторов

#organizer {
  text-align: center;
}
// Секция контакты

#contacts {
  a {
    font-weight: 500;
  }

  iframe {
    width: 100%;
    height: 240px;
    border-width: 0;
  }

  li {
    &.nav-item {
      &:first-child {
        position: relative;
      }

      img {
        position: absolute;
        bottom: 4px;
        right: 8px;
      }
    }
  }
}
