$family-ubuntu: Ubuntu, sans-serif; // Шрифт основной
$family-montserat: Montserrat, sans-serif; // Шрифты дополнительный
// Основные цвета
// Цвета для ссылок
$color-link: #2cc7c1;
$color-link-hover: #26DEA3;
$color-border: #A2D0CF; //
// Цвета для текста
$color-text: #525b64;
$color-text-add: #CFE6FD;
$color-text-light: #91A1B0; //
// Цвета фонов
$color-back-footer: #104745; // $color-back: #A2D0CF;
$color-back: #94ef9c; // медали
$color-gold: #ffdf00;
$color-silver: #c0c0c0;
$color-bronze: #cd7f32;

$content-width: 992px;
$tablet-width: 768px;
$mobile-big-width: 576px;