/* ubuntu-regular - latin_cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("../webfonts/Ubuntu-Regular.ttf") format('truetype');
}
/* ubuntu-bold - latin_cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    src: url("../webfonts/Ubuntu-Bold.ttf") format("truetype");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../webfonts/Montserrat-Regular.ttf") format('truetype');
}
/* montserrat-bold - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    src: url("../webfonts/Montserrat-Bold.ttf") format('truetype');
}