// Импорт переменных
@import "myvariables";
@media only screen and (max-width: 576px) {
    .h3 {
        font-size: 1.25rem;
    }
}
@media (min-width: 576px) {
    body {
        font-size: $font-size-14px;
    }

    div {
        &.scrollup {
            right: 30px;
            bottom: 30px;
        }
    }
}
/* на sm */
@media (min-width: 768px) {
    body {
        font-size: $font-size-16px;
    }
}