// Размеры шрифтов
$font-size-32px: 2em;
$font-size-p: 1.25em;
$font-size-18px: 1.125em;
$font-size-17px: 1.07em;
$font-size-16px: 1em;
$font-size-12px: 0.75em;
$family-ubuntu: Ubuntu, sans-serif; // Шрифт основной
$family-montserat: Montserrat, sans-serif; // Шрифты дополнительный