// Размеры шрифтов
$font-size-52px: 52px;
$font-size-48px: 48px;
$font-size-32px: 32px;
$font-size-20px: 20px;
$font-size-18px: 18px;
$font-size-16px: 16px;
$font-size-14px: 14px;
$font-size-12px: 12px;
$font-size-10px: 10px;
$font-size-6px: 6px;
$font-size-2px: 2px;
$family-ubuntu: Ubuntu, sans-serif; // Шрифт основной
$family-montserat: Montserrat, sans-serif; // Шрифты дополнительный
// Основные цвета
$color-link: #2cc7c1;
$color-link-hover: #17a2b8;
$color-footer-back: #BDC3C7;
$color-footer-text: #cacaca;
$color-text: #828282;
$color-text-h2: #ffffff;
$color-back: #2ECC71;
$color-border: #27AE60;