// Размеры шрифтов
$font-size-52px: 52px;
$font-size-48px: 48px;
$font-size-32px: 32px;
$font-size-20px: 20px;
$font-size-18px: 18px;
$font-size-16px: 16px;
$font-size-14px: 14px;
$font-size-12px: 12px;
$font-size-10px: 10px;
$font-size-6px: 6px;
$font-size-2px: 2px;
$family-ubuntu: Ubuntu, sans-serif; // Шрифт основной
$family-montserat: Montserrat, sans-serif; // Шрифты дополнительный
// Основные цвета
// Цвета для ссылок
$color-link: #2cc7c1;
$color-link-hover: #26DEA3;
$color-border: #A2D0CF; //
// Цвета для текста
$color-text: #525b64;
$color-text-add: #CFE6FD;
$color-text-light: #91A1B0; //
// Цвета фонов
$color-back-footer: #104745; // $color-back: #A2D0CF;
$color-back: #94ef9c;