// Импорт переменных
@import "myvariables"; //

#common {
    background: url("../img/header_background_web.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
    min-height: 700px;
}

#event,
#form,
#gallery,
#games,
#header,
#organizer,
#schedule,
#speakers {
    border: 1px solid transparent;

    h2 {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
    }
}

.nav {
    li {
        a {
            &.nav-link {
                text-transform: uppercase;
            }
        }
    }
}

.section {
    &-tabs {
        .tab-content {
            ul {
                li {
                    line-height: 30px;

                    i {
                        font-size: 0.8em;
                        color: $color-link;
                    }
                }
            }
        }
    }
}
// Секция о команде

.item {
    & > div {
        position: relative;

        &:hover {
            .front {
                opacity: 0.1;
            }

            .back {
                opacity: 1;
            }

            h3 {
                color: $color-link;
            }
        }
    }
}

.front {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    /*для IE*/
    margin-left: -70px;
    /*для IE*/
    cursor: pointer;
}

.back {
    width: 140px;
    height: 140px;
    background-color: $color-link;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;

    i {
        line-height: 140px;
        color: $color-text-add;
    }
}
// Секция календарь событий

.link {
    text-transform: uppercase;
}

.time {
    background-color: $color-link;
    color: $color-text-add;
    font-weight: 500;
    border-radius: 2px;
}

.collapse {
    &-link {
        color: $color-text;
        font-weight: 500;

        &:hover {
            color: $color-text;
        }
    }

    &-state {
        color: $color-link;
    }
}
// Секция галерея - видео и фото

.row-item {
    margin-top: $font-size-32px;

    h2 {
        margin-top: $font-size-10px;
    }
}

.carousel-indicators {
    left: 0;
    bottom: $font-size-10px;
    width: auto;

    li {
        border: 1px solid $color-link;
        background: transparent;
        height: 12px;
        width: 12px;
        border-radius: $font-size-6px;

        &.active {
            background-color: $color-link;
            opacity: 0.5;
            height: 14px;
            width: 14px;
            border-radius: $font-size-6px;
        }
    }
}
// Секция форма - прием заявок на участие

#form {
    background-color: #f3f3f3;
}

.form {
    &-section {
        background-color: #ffffff;
        padding: $font-size-32px;
        border-radius: $font-size-2px;
        margin-top: $font-size-52px;

        input,
        select {
            height: $font-size-48px;
            background-color: #efefef;
            padding-right: $font-size-32px;
        }

        input {
            &.form-control {
                &:focus {
                    border: 2px solid $color-link !important;
                    background-color: $color-text-add;
                    box-shadow: none;
                }
            }
        }
    }

    &-control {
        &-feedback {
            line-height: 44px;
            right: $font-size-10px;
        }
    }
}

.has-success {
    .form-control {
        border: 2px solid $color-link;

        &-feedback {
            color: $color-link;
        }
    }
}
// Секция о команде

.speakers {
    &-head {
        h2 {
            color: $color-text-light;
        }
    }

    h3 {
        color: $color-text-light;
        text-transform: uppercase;
        margin-top: $font-size-6px;
    }
}
// Секция логотипы спонсоров и организаторов

#organizer {
    // background-color: #ffffff;
    text-align: center;
}
// Секция контакты

#contacts {
    a {
        font-weight: 500;
    }

    iframe {
        width: 100%;
        height: 240px;
        border-width: 0;
    }

    li {
        &.nav-item {
            &:first-child {
                position: relative;
            }

            img {
                position: absolute;
                bottom: 4px;
                right: 8px;
            }
        }
    }
}

#copy {
    background-color: $color-back-footer;
    color: $color-text-light;
}

div {
    &.scrollup {
        position: fixed;
        /* фиксированная позиция */
        color: $color-text-add;
        /* цвет текста */
        background-color: $color-link;
        /* цвет заднего фона */
        right: 10px;
        /* расстояние от правого края */
        bottom: 10px;
        /* расстояние от нижнего края */
        padding: 4px 10px;
        /* отступы до содержимого блока */
        font-size: 20px;
        /* размер шрифта (иконки) */
        border-top-left-radius: 4px;
        /* скругление верхнего левого угла */
        border-top-right-radius: 4px;
        /* скругление верхнего правого угла */
        border-bottom-left-radius: 4px;
        /* скругление нижнего левого угла */
        border-bottom-right-radius: 4px;
        /* скругление нижнего правого угла */
        cursor: pointer;
        /* форма курсора */
        display: none;
        /* не отображать элемент */
        text-align: center;
        /*выравнивание содержимого элемента по центру */
        opacity: 0.75;

        &:hover {
            background-color: $color-link-hover;
            /* цвет заднего фона при наведении */
        }
    }
}