// Импорт переменных
@import "myvariables";

.large {
    color: #828282;
    font-size: $font-size-22px;
    margin-bottom: 20px;
    margin-top: 20px;
}
// Секция о соревнования

#events,
#gallery,
#games,
#speakers {
    padding: 60px 0;
    border-bottom: 2px solid #f0f0f1;

    h2 {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 31px;
        text-transform: uppercase;
        color: #828689;
    }
}

.section {
    &-tabs {
        ul {
            li {
                padding-left: 50px;

                &:first-child {
                    padding-left: 15px;
                }
            }
        }

        .tab-content {
            padding: 25px 20px;

            ul {
                padding-left: 10px;

                li {
                    line-height: 30px;

                    i {
                        font-size: 15px;
                        color: #2cc7c1;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
// Секция о команде

.speakers {
    &-head {
        margin-top: 40px;
        margin-bottom: 20px;

        h2 {
            color: #6a7079;
        }
    }

    h3 {
        color: #777a7d;
        font-size: 20px;
        text-transform: uppercase;
    }

    &-footer {
        margin-top: 25px;
    }
}

.item {
    & > div {
        position: relative;

        &:hover {
            .front {
                opacity: 0.1;
            }

            .back {
                opacity: 1;
            }

            h3 {
                color: #6bd8d3;
            }
        }
    }
}

.front {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    /*для IE*/
    margin-left: -70px;
    /*для IE*/
    cursor: pointer;
}

.back {
    width: 140px;
    height: 140px;
    background: #6bd8d3;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;

    i {
        line-height: 140px;
        font-size: 30px;
        color: #fff;
    }
}
// Секция календарь событий

.link {
    text-transform: uppercase;
    font-size: 17px;
}

.time {
    background: #2cc7c1;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    border-radius: 2px;
    margin-right: 25px;
}

.collapse {
    margin-bottom: 15px;

    &-link {
        color: #747a84;
        font-size: 18px;
        font-weight: 500;

        &:hover {
            color: #747a84;
        }
    }

    &-state {
        color: #2cc7c1;
    }

    p {
        color: #999;
    }

    &-tab {
        margin-bottom: 14px;
    }
}
// Секция галерея - видео и фото

.row-item {
    margin-top: 50px;

    h2 {
        margin-top: 10px;
    }
}

.carousel-indicators {
    left: 0;
    bottom: 10px;
    margin: 0 0 0 20px;
    width: auto;

    li {
        border: 1px solid #2cc7c1;
        background: transparent;
        height: 12px;
        width: 12px;
        border-radius: 6px;

        &.active {
            background: #2cc7c1;
            opacity: 0.5;
            height: 14px;
            width: 14px;
            border-radius: 7px;
        }
    }
}