// Подключение шрифтов
@import "fonts";
@import "header"; /* Подключение стиля для блока header*/
@import "section"; /* Подключение стиля для блоков*/
@import "footer"; /* Подключение стиля для блока footer*/
@import "myvariables"; /* Подключение переменных, используемые в проекте*/
// Стили для страниц
/* --------------- базовые настройки ---------*/
html {
	height: 100%;
	font-size: 18px;
}

body {
	color: #828282;
	/*Указан базовый цвет для текста!!!*/
	/* используем безопасные шрифтовые CSS стеки */
	height: 100%;
	background: #fff;
	font-weight: 400;
	min-width: 320px;
	font-family: $family-ubuntu;
}

a,
a:visited {
	text-decoration: underline;
	font-weight: 700;
	font-style: $font-size-16px;
	color: #2cc7c1;
	font-family: Montserrat, sans-serif;
}

a:hover {
	color: #2cc7c1;
	text-decoration: none;
}

a:active,
a:focus {
	color: #2cc7c1;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

img {
	height: auto;
	max-width: 100%;
}

section {
	position: relative;
}

.clr {
	clear: both;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}
/* --------------- /базовые настройки ---------*/
.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}