// Подключение шрифтов
@import "fonts";
@import "myvariables"; /* Подключение переменных, используемые в проекте*/
// Стили для страниц
/* --------------- базовые настройки ---------*/

html {
	height: 100%;
}

body {
	color: $color-text;
	font-size: $font-size-12px;
	/*Указан базовый цвет для текста!!!*/
	/* используем безопасные шрифтовые CSS стеки */
	// height: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	font-weight: 400;
	min-width: 320px;
	font-family: $family-ubuntu;
	background: url("../img/header_background_web.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: $color-back;
	height: 100%;
	min-height: 700px;
	margin-top: 50px;
}

a,
a:visited {
	text-decoration: underline;
	font-weight: 700;
	color: $color-link;
	font-family: $family-montserat;
}

a:hover {
	color: $color-link-hover;
	text-decoration: none;
}

a:active,
a:focus {
	color: $color-link-hover;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

img {
	height: auto;
	max-width: 100%;
}

section {
	position: relative;
}

.clr {
	clear: both;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}
/* --------------- /базовые настройки ---------*/
// стили botstrap

button {
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: underline;
	color: $color-link;
	font-family: $family-montserat;

	&:visited {
		text-transform: uppercase;
		text-decoration: underline;
		font-weight: 700;
		color: $color-link;
		font-family: $family-montserat;
	}

	&.btn {
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	&.btn-link {
		color: $color-link;

		&:active,
		&:focus,
		&:hover {
			color: $color-link-hover;
			text-decoration: none;
		}
	}
}

.nav-justified {
	.nav-item {
		flex-basis: auto;
	}
}

a {
	&.active {
		&.show {
			color: $color-link-hover;
			text-decoration: none;
		}
	}
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
	border-top-color: $color-link-hover;
	/* цвет стрелочки (по умолчанию #000)*/
}

.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
	border-right-color: $color-link-hover;
	/* цвет стрелочки (по умолчанию #000)*/
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: $color-link-hover;
	/* цвет стрелочки (по умолчанию #000) */
}

.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
	border-left-color: $color-link-hover;
	/* цвет стрелочки (по умолчанию #000) */
}

.tooltip-inner {
	color: $color-text-add;
	/* цвет шрифта */
	background-color: $color-link-hover;
	/* цвет фона (по умолчанию #000) */
	border-radius: 0.25rem;
	/* радиус скругдения углов */
}

.position-absolute {
	top: 85%;
	right: -3%;
	z-index: -1;
}
// Стили для формы

.select2-container {
	&--default {
		.select2-selection--single {
			height: 45px;
			text-align: left;
			background-color: $color-text-light;

			.select2-selection {
				&__rendered {
					line-height: 44px;
					color: $color-text;
				}

				&__arrow {
					top: 10px;
				}
			}
		}
	}

	&--open {
		.select2-selection--single {
			background: $color-link;

			.select2-selection__rendered {
				color: $color-text-add;
			}
		}
	}
}

li {
	&.select2-results {
		&__option {
			&:first-child {
				display: none;
			}
		}
	}
}

.select2-results__options {
	background: $color-text;
	color: $color-link;
}

.elect2-container-default .select2-results__option[aria-selected="true"],
.select2-container-default .select2-results__option--highlighted[aria-selected] {
	background: $color-text;
}

.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	z-index: -2;
}

.overlay {
	position: relative;
	// margin: 0 auto;
	padding: 0.5em;
	// max-width: 23em;
	// background: hsla(0,0%,100%,.75) border-box;
	overflow: hidden;
	border-radius: 0.3em;
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset, 0 0.5em 1em rgba(0, 0, 0, 0.6);
	// text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
	border: 3px solid hsla(0,0%,100%,.25);
	// background: white;
	background-clip: padding-box;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: -30px;
		z-index: -10;
		-webkit-filter: blur(20px);
		filter: blur(20px);
	}

	&-light {
		background: hsla(0,0%,100%,.85) border-box;
	}

	&-dark {
		background: rgba(240,233,208,0.85) border-box;
	}
}