.select2-container {
	&--default {
		.select2-selection--single {
			height: 45px;
			text-align: left;
			background-color: $color-text-light;

			.select2-selection {
				&__rendered {
					line-height: 44px;
					color: $color-text;
				}

				&__arrow {
					top: 10px;
				}
			}
		}
	}

	&--open {
		.select2-selection--single {
			background: $color-link;

			.select2-selection__rendered {
				color: $color-text-add;
			}
		}
	}
}

li {
	&.select2-results {
		&__option {
			&:first-child {
				display: none;
			}
		}
	}
}

.select2-results__options {
	background: $color-text;
	color: $color-link;
}

.select2-container-default .select2-results__option[aria-selected="true"],
.select2-container-default .select2-results__option--highlighted[aria-selected] {
	background: $color-text;
}