<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="description" lang="ru" content="Соревнования по робототехнике РОБОТЫ ВПЕРЕД для школьников из Санкт-Петербурга и Ленинградской области. Организатор - Сланцевский Дом Творчества на Грибоедова 8" />
<meta name="keywords" lang="ru" content="робототехника, соревнования по робототехнике, Lego Mindstorms, робототехника для детей, робототехника в Ленинградской области, робототехника в Сланцах">
<meta name="author" content="burikAV" />
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/service/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/service/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/service/favicon-16x16.png">
<link rel="manifest" href="../../../public/service/site.webmanifest">
<link rel="mask-icon" href="../../../public/service/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9" />
<meta name="theme-color" content="#ffffff" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Соревнования по робототехнике РоботыВперед." />
<meta property="og:description" content="Соревнования по робототехнике РОБОТЫ ВПЕРЕД для школьников из Санкт-Петербурга и Ленинградской области. Организатор - Сланцевский Дом Творчества на Грибоедова 8" />
<meta property="og:url" content="https://xn--90acgda4cbjegs2i.xn--p1ai/index.html" />
<meta property="og:site_name" content="РОБОТЫВПЕРЕД.РФ" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:image" content="https://xn--90acgda4cbjegs2i.xn--p1ai/assets/img/service/robotsforward_ogfb.png" />
<meta property="vk:image" content="https://xn--90acgda4cbjegs2i.xn--p1ai/assets/img/service/robotsforward_ogvk.png" />
<!-- <meta property="og:image:width" content="968" /> -->
<!-- <meta property="og:image:height" content="504" /> -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->