#ishome {
    background: url("../img/background/header_background_web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
    min-height: 700px;
}