Options All -ExecCGI -Indexes -Includes +FollowSymLinks

# по умолчанию
AddDefaultCharset UTF-8

# запрос на скачивание документов
AddType application/octet-stream .pdf .xls

# Отсутсвует страница
ErrorDocument 404 /404.html

# перенаправление http и www
RewriteCond %{HTTP_HOST} ^robotsforwars.ru [NC]
RewriteRule ^(.*)$ http://www.robotsforwars.ru/$1 [L,R=301]

## Secure htaccess file ##

<Files .htaccess>

Order Allow,Deny

Deny from all

</Files>
